<!DOCTYPE html>

<html lang="es">
<head>
	<title>
		Example Webpage
	</title>

	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% asset 'css/style.css' %}" />
</head>
<body>
	<header>
		<h1>{{ section_title }}</h1>
		<ul>
			<li><a href="{% url 'index' %}">Index</a></li>
			<li><a href="{% url 'projects' %}">Projects</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
		</ul>
	</header>

	<hr />

	<main>
	{% block main %}{% endblock %}
	</main>
</body>
</html>